body {
  background-color: #f8f9fa;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.9);
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 10px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-list a {
  color: white;
  text-decoration: none;
}

.navbar-nav {
  font-size: 20px;
  font-family: 'Chango', sans-serif;
}

.navbar-nav span {
  color: rgb(130, 130, 130);
}

.navbar-list ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-list ul li {
  margin-right: 30px;
}

.navbar-list li a:hover {
  color: rgb(130, 130, 130);
}

.navbar-list li a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(255, 255, 255);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar-list a:hover::after {
  transform: scaleX(0.5);
}

h1 {
  color: #333;
  text-align: center;
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  max-width: 900px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.gallery figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 0.3s;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery figure:hover img {
  transform: scale(1.05);
}

.gallery figure:hover {
  transform: scale(1.02);
}

p {
  color: #666;
  text-align: center;
}
.footer {
  background-color: rgba(17, 17, 17, 0.9);
  padding: 5px;
}
